:root {
    /* ff font-family */
    --superhero: 'Bangers', cursive;
    --fantasy: 'MedievalSharp', cursive;
    --space: 'Orbitron', sans-serif;
    --military: 'Black Ops One', cursive;
    --romantic: 'La Belle Aurore', cursive;
    --scary: 'Creepster', cursive;
    --cowboy: 'Rye', cursive;
    --regular: sans-serif;

    --happy: 'Happy Monkey', cursive;
    --monsieur: 'Monsieur La Doulaise', cursive;
    --roboto: 'Roboto', sans-serif;

    --egyptian: Egyptian
   
    /* br border-radius */
    --sharp: 0;
    --soft: 10px;
    --round: 100px;
    
    --image: var(--soft);
    
    /* bg background-color */
    --navigation: red;
    --background: #f0f0c6;
    --background-grey:#e2e2e2;
    --text: #222222;
    
    --light: var(--background);
    --dark: var(--text);
}



body {
    display: grid;
    margin: 0;
    padding: 10px;
    
    color: var(--text);
    font-family: var(--roboto);
    
}
    
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap: 2rem;
    width: 80%;
    
    background: var(--background);
    margin-inline:  auto;
    padding: 1rem;
    border-bottom: solid 1rem var(--navigation);
}

.nav {
    height: 80px;
    width: 80%;
    min-width: 160px;
    margin-inline: auto;
    padding: 1rem;
    background: var(--navigation);
}

.header {
    text-align: center;
}

.intro {
    margin: 3rem auto 0;
}

img {
    /* display: block; */
    text-align: center;
    width: 100%;
    max-width: 300px;
    border-radius: calc(var(--image) * 2); /* 10px*2 */
    border: 4px solid var(--text);
}

a {
    color: var(--text);
}

input {
    /* display: block; */
    margin: 20px 0 0;
    min-width: 160px;
    box-sizing: border-box;
    padding: 4px 8px;
    border-width: 1px; 
    border-style: solid;
    border-color:  var(--text);
    color: var(--text);
    background: none;
    border-radius: var(--image);
    font-family: var(--font);
}

::placeholder {
    color: var(--text);
}

button {
    border-radius: var(--image);
    padding: 5px 10px;
    border: none;
    background: var(--text);
    color: var(--background);
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    margin: 8px 0;
    cursor: pointer;
    font-family: var(--font);
    min-width: 160px;
}

#poga {
    font-weight: 600;
    }

#poga:hover {
    font-style: italic;
    color: brown;
}

#pasts {
    display: block;    
}

form {
    display: grid; 
    width: 20rem; 
    gap: 0.5rem;
} 



@media (max-width: 900px) {
    .container {    
    grid-template-columns: 1fr;
    gap: 0; 
    }
    
    .intro {
        text-align: left;
        margin: 0 auto 1rem;        
    }


}